<h2 class="bg-info title_inner_page">Orders R<%=@step_form.complete.id%></h2>

<div>
  <table class="table">
    <thead>
    <tr>
      <th>Billing address</th>
      <th>Shipping address</th>
      <th>Shipments</th>
      <th>Payment Information</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>
        <p><%=@step_form.billing_address.first_name%> <%=@step_form.billing_address.last_name%></p>
        <p><%=@step_form.billing_address.address%></p>
        <p><%=@step_form.billing_address.city%></p>
        <p><%=@step_form.billing_address.country%></p>
        <p><%=@step_form.billing_address.phone%></p>
      </td>
      <td>
        <p><%=@step_form.shipping_address.first_name%> <%=@step_form.shipping_address.last_name%></p>
        <p><%=@step_form.shipping_address.address%></p>
        <p><%=@step_form.shipping_address.city%></p>
        <p><%=@step_form.shipping_address.country%></p>
        <p><%=@step_form.shipping_address.phone%></p>
      </td>
      <td>
        <%= @step_form.complete.delivery.name%>
      </td>
      <td>
        <p><%= current_user.credit_card.mask%></p>
        <p><%= current_user.credit_card.date%></p>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<br>

<div>
  <table class="table table_order">
    <thead>
    <tr>
      <th></th>
      <th>Book</th>
      <th>Price</th>
      <th>QTY</th>
      <th>Total</th>
    </tr>
    </thead>
    <tbody>
    <%@step_form.complete.order_items.each do |item| %>
        <tr>
          <td>
            <%=link_to item.book do %>
                <%= image_tag item.book.image.thumb,class: 'image_cart'%>
            <%end%>
          </td>
          <td>
            <p class="title_book"><%=link_to item.book.title,book_path(item.book) %></p>
            <p><%=truncate item.book.description, length: 300 %></p>
          </td>
          <td class="vertical_align">$<%= item.book.price%></td>
          <td class="vertical_align"><%= item.quantity%></td>
          <td class="vertical_align">$<%= item.price%></td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>
<hr>
<div>
  <div class="col-sm-3 col-sm-offset-9 padding_0 text-right">
    SUBTOTAL : <span class="subtotal">$<%=@step_form.complete.total_price %></span>
  </div>
  <div class="col-sm-3 col-sm-offset-9 padding_0 shiping_padding">
    SHIPPING : <span class="subtotal">$<%=@step_form.complete.delivery.price %></span>
  </div>
</div>
<br><br><hr>
<div>
  <div class="col-sm-3 col-sm-offset-9 padding_0 text-right">
    ORDER TOTAL : <span class="subtotal">$<%=@step_form.complete.discount_price + @step_form.complete.delivery.price %></span>
  </div>
</div>
<div>
  <%= link_to 'GO TO STORE', root_path, class: 'btn btn-success'%>
</div>