<h2 class="bg-info title_inner_page">Orders R<%=@order.id%> <small><%=@order.state%></small></h2>

<div>
  <table class="table table_order">
    <thead>
    <tr>
      <th></th>
      <th>Book</th>
      <th>Price</th>
      <th>QTY</th>
      <th>Total</th>
    </tr>
    </thead>
    <tbody>
    <%@order.order_items.each do |item| %>
        <tr>
          <td>
            <%=link_to item.book do %>
                <%= image_tag item.book.image.thumb,class: 'image_cart'%>
            <%end%>
          </td>
          <td>
            <p class="title_book"><%=link_to item.book.title,book_path(item.book) %></p>
            <p><%=truncate item.book.description, length: 300 %></p>
          </td>
          <td class="vertical_align">$<%= item.book.price%></td>
          <td class="vertical_align"><%= item.quantity%></td>
          <td class="vertical_align">$<%= item.price%></td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>
<hr>
<div>
  <div class="col-sm-3 col-sm-offset-9 padding_0 text-right">
    SUBTOTAL : <span class="subtotal">$<%=@order.total_price %></span>
  </div>
  <div class="col-sm-3 col-sm-offset-9 padding_0 shiping_padding">
    SHIPPING : <span class="subtotal">$<%=@order.delivery.price %></span>
  </div>
</div>
<br><br><hr>
<div>
  <div class="col-sm-3 col-sm-offset-9 padding_0 text-right">
    ORDER TOTAL : <span class="subtotal">$<%=@order.total_price + @order.delivery.price %></span>
  </div>
</div>